.app {
  background-color: #a5a5a5;
}

.appWrapper {
  max-width: 375px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
}

.total_jobs {
  padding: 21px 0px;
  border-bottom: 1px solid var(--border-color);
  margin: 0px 27px;
  font-weight: bold;
  color: var(--color-dark);
}
