.jobTemplateContainer {
  padding: 10px 0px;
  border-bottom: 1px solid var(--border-color);
  margin: 0px 27px;
  cursor: pointer;
}

.jtcImg {
  width: 12%;
}

.jtcTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0px;
}
.jtcTop > h3 {
  font-weight: 600;
  color: var(--color-dark);
}
.jtcTop > h3 + h3,
.jtcTop > h4 {
  text-align: end;
  white-space: nowrap;
  font-weight: 600;
  color: var(--color-dark);
}
.jtcTop > h4 {
  padding: 9px 0px;
  font-size: 15px;
}

.jtcMid {
  display: flex;
  flex-wrap: wrap;
}
.jtcMid > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 36%;
  font-weight: 400;
  padding: 0px;
}

.jtcBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jtcBot > .jtcBot_img {
  width: 30%;
  padding: 12px;
}
.jtcBot > .company_link {
  display: flex;
  align-items: center;
  width: 72%;
  gap: 0.5rem;
  font-size: 15px;
  padding: 20px 0px 10px 0px;
}
.jtcBot > span {
  width: 18;
  color: var(--color-disable);
}
